### 시리즈(Series)
 * 복수의 행(row)으로 이루어진 하나의열(column) 구조
 * 색인(index)을 가지고 원하는 데이터에접근할 수 있음
 * 자동으로 색인을 만들어 줌

In [1]:
import pandas as pd
pd.Series([1,4,7,9])

0    1
1    4
2    7
3    9
dtype: int64

In [5]:
x = pd.Series([1,4,7,9] , index=['서울', '대구', '부산', '광주'])

In [6]:
x['부산']

7

In [7]:
x[['대구', '부산']]

대구    4
부산    7
dtype: int64

In [8]:
x.index

Index(['서울', '대구', '부산', '광주'], dtype='object')

In [9]:
x.values

array([1, 4, 7, 9], dtype=int64)

In [11]:
sorted(['서울', '대구', '부산', '광주'])

['광주', '대구', '부산', '서울']

In [12]:
sorted(x.values)

[1, 4, 7, 9]

In [13]:
x.reindex(sorted(['서울', '대구', '부산', '광주']))

광주    9
대구    4
부산    7
서울    1
dtype: int64

In [14]:
x = pd.Series([1,4,7,9] , index=['서울', '대구', '부산', '광주'])
y = pd.Series([3,8,11,19] , index=['서울', '대구', '부산', '광주'])
x*y

서울      3
대구     32
부산     77
광주    171
dtype: int64

In [15]:
x = pd.Series([1,4,7,9] , index=['서울', '대구', '부산', '광주'])
y = pd.Series([3,8,11,19] , index=['대구', '서울', '대전', '광주'])
x*y

광주    171.0
대구     12.0
대전      NaN
부산      NaN
서울      8.0
dtype: float64

##### unique()

In [19]:
medal = [1,3,2,4,2,5]
x = pd.Series(medal)
y = pd.unique(x)
z = pd.Series(y)
z

0    1
1    3
2    2
3    4
4    5
dtype: int64

In [20]:
medal = ["1","3","2","4","2","5"]
x = pd.Series(medal)
y = pd.unique(x)
y

array(['1', '3', '2', '4', '5'], dtype=object)

##### dict 을 Series으로 변환

In [21]:
dic = {"a":1 , "b":10 ,"c":20}

pd.Series(dic)

a     1
b    10
c    20
dtype: int64

#### 데이터프레임(DataFrame)

In [28]:
ser_1 = pd.Series({"a":1 , "b":10 ,"c":20})
ser_2 = pd.Series({"a":2 , "b":5 ,"c":5})
ser_3 = pd.Series({"a":3 , "b":11 ,"c":8})

pd.concat([ser_1, ser_2, ser_3], axis=1)

    0  1   2
a   1  2   3
b  10  5  11
c  20  5   8

In [36]:
data_dic = {
    'age':[23,43,12,45],
    'name':['민준','현우', '서연', '동현'],
    'height':[175.3, 180.2, 165.8, 172.7]
}

x = pd.DataFrame(data_dic, columns=['name','age','height'] )

In [40]:
x.name

0    민준
1    현우
2    서연
3    동현
Name: name, dtype: object

In [41]:
x.iloc[:, 1]

0    23
1    43
2    12
3    45
Name: age, dtype: int64

In [46]:
print(x)
x.iloc[1]

  name  age  height
0   민준   23   175.3
1   현우   43   180.2
2   서연   12   165.8
3   동현   45   172.7

name         현우
age          43
height    180.2
Name: 1, dtype: object

In [49]:
ary = [[1,2],[2,3],[4,2],[5,3],[6,2],[2,5],[1,1],[5,4],[2,4] ]
data = pd.DataFrame(ary , columns=['first', 'second'])
data

   first  second
0      1       2
1      2       3
2      4       2
3      5       3
4      6       2
5      2       5
6      1       1
7      5       4
8      2       4

In [54]:
data.head()

   first  second
0      1       2
1      2       3
2      4       2
3      5       3
4      6       2

In [55]:
data.tail()

   first  second
4      6       2
5      2       5
6      1       1
7      5       4
8      2       4

#### 파일 읽어오기

In [56]:
pd.read_csv("austin_weather.csv")

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,2017-07-27,103,89,75,71,67,61,82,54,25,...,29.97,29.88,10,10,10,12,5,21,0,
1315,2017-07-28,105,91,76,71,64,55,87,54,20,...,29.9,29.81,10,10,10,14,5,20,0,
1316,2017-07-29,107,92,77,72,64,55,82,51,19,...,29.86,29.79,10,10,10,12,4,17,0,
1317,2017-07-30,106,93,79,70,68,63,69,48,27,...,29.91,29.87,10,10,10,13,4,20,0,
1318,2017-07-31,99,88,77,66,61,54,64,43,22,...,29.97,29.91,10,10,10,12,4,20,0,

In [70]:
df = pd.read_csv("경찰청_졸음운전 교통사고 현황_20191231.csv", engine="python",encoding='CP949')
df.isnull()

       구분   도로종류  사고(건)  사망(명)  부상(명)
0   False  False  False  False  False
1   False  False  False  False  False
2   False  False  False  False   True
3   False  False  False  False  False
4   False  False  False   True  False
5   False  False   True  False  False
6   False  False  False  False  False
7   False  False  False  False  False
8   False  False  False  False   True
9   False  False   True  False  False
10  False  False  False  False  False
11  False  False  False  False  False
12  False  False  False  False  False
13  False  False  False  False  False
14  False  False  False  False  False
15  False  False  False  False  False
16  False  False  False  False  False
17  False  False  False  False  False
18  False  False  False  False  False
19  False  False  False  False  False
20  False  False  False  False  False

In [72]:
df = pd.read_csv("경찰청_졸음운전 교통사고 현황_20191231.csv", engine="python",encoding='CP949')
drop_data = df.dropna()
drop_data

       구분    도로종류  사고(건)  사망(명)   부상(명)
0   2017년    일반국도  363.0   19.0   698.0
1   2017년     지방도  230.0   10.0   451.0
3   2017년      시도  577.0   11.0  1125.0
6   2017년      기타   21.0    0.0    41.0
7   2018년    일반국도  249.0   18.0   487.0
10  2018년      시도  355.0    2.0   698.0
11  2018년      군도   71.0    1.0   115.0
12  2018년    고속국도  104.0   16.0   211.0
13  2018년      기타   30.0    1.0    76.0
14  2019년    일반국도  498.0   29.0   964.0
15  2019년     지방도  300.0   18.0   587.0
16  2019년  특별광역시도  825.0    7.0  1594.0
17  2019년      시도  876.0   17.0  1629.0
18  2019년      군도  116.0    8.0   184.0
19  2019년    고속국도  147.0   20.0   296.0
20  2019년      기타  125.0    2.0   206.0

In [74]:
df = pd.read_csv("경찰청_졸음운전 교통사고 현황_20191231.csv", engine="python",encoding='CP949')
drop_data = df.dropna(subset=["사고(건)"])
drop_data

       구분    도로종류  사고(건)  사망(명)   부상(명)
0   2017년    일반국도  363.0   19.0   698.0
1   2017년     지방도  230.0   10.0   451.0
2   2017년  특별광역시도  590.0   12.0     NaN
3   2017년      시도  577.0   11.0  1125.0
4   2017년      군도  101.0    NaN   169.0
6   2017년      기타   21.0    0.0    41.0
7   2018년    일반국도  249.0   18.0   487.0
8   2018년     지방도  170.0   11.0     NaN
10  2018년      시도  355.0    2.0   698.0
11  2018년      군도   71.0    1.0   115.0
12  2018년    고속국도  104.0   16.0   211.0
13  2018년      기타   30.0    1.0    76.0
14  2019년    일반국도  498.0   29.0   964.0
15  2019년     지방도  300.0   18.0   587.0
16  2019년  특별광역시도  825.0    7.0  1594.0
17  2019년      시도  876.0   17.0  1629.0
18  2019년      군도  116.0    8.0   184.0
19  2019년    고속국도  147.0   20.0   296.0
20  2019년      기타  125.0    2.0   206.0

In [80]:

df = pd.read_csv("경찰청_졸음운전 교통사고 현황_20191231.csv", engine="python",encoding='CP949')
df['사고(건)'].mean()
# df.replace(np.NaN,df['사고(건)'].mean() )

df.fillna(df['사고(건)'].mean())

       구분    도로종류       사고(건)       사망(명)        부상(명)
0   2017년    일반국도  363.000000   19.000000   698.000000
1   2017년     지방도  230.000000   10.000000   451.000000
2   2017년  특별광역시도  590.000000   12.000000   302.526316
3   2017년      시도  577.000000   11.000000  1125.000000
4   2017년      군도  101.000000  302.526316   169.000000
5   2017년    고속국도  302.526316   22.000000   273.000000
6   2017년      기타   21.000000    0.000000    41.000000
7   2018년    일반국도  249.000000   18.000000   487.000000
8   2018년     지방도  170.000000   11.000000   302.526316
9   2018년  특별광역시도  302.526316    4.000000   710.000000
10  2018년      시도  355.000000    2.000000   698.000000
11  2018년      군도   71.000000    1.000000   115.000000
12  2018년    고속국도  104.000000   16.000000   211.000000
13  2018년      기타   30.000000    1.000000    76.000000
14  2019년    일반국도  498.000000   29.000000   964.000000
15  2019년     지방도  300.000000   18.000000   587.000000
16  2019년  특별광역시도  825.000000    7.000000  1594.000000
17  2019년      시도  876.000000   17.000000  1629.000000
18  2019년      군도  116.000000    8.000000   184.000000
19  2019년    고속국도  147.000000   20.000000   296.000000
20  2019년      기타  125.000000    2.000000   206.000000

In [82]:
df = pd.read_csv("경찰청_졸음운전 교통사고 현황_20191231.csv", engine="python",encoding='CP949')

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      21 non-null     object
 1   도로종류    21 non-null     object
 2   사고(건)   19 non-null     float64
 3   사망(명)   20 non-null     float64
 4   부상(명)   19 non-null     float64
dtypes: float64(3), object(2)
memory usage: 736.0+ bytes

In [85]:
df.describe()

            사고(건)      사망(명)        부상(명)
count   19.000000  20.000000    19.000000
mean   302.526316  11.400000   553.368421
std    259.036327   8.286959   481.151998
min     21.000000   0.000000    41.000000
25%    110.000000   3.500000   195.000000
50%    230.000000  11.000000   451.000000
75%    430.500000  18.000000   704.000000
max    876.000000  29.000000  1629.000000

##### DataFrame.fillna(self, value=None, method=None, axis=None, inplace=False, limit=None, downcast=None)

In [86]:
df.fillna({'사고(건)': df['사고(건)'].mean()})

       구분    도로종류       사고(건)  사망(명)   부상(명)
0   2017년    일반국도  363.000000   19.0   698.0
1   2017년     지방도  230.000000   10.0   451.0
2   2017년  특별광역시도  590.000000   12.0     NaN
3   2017년      시도  577.000000   11.0  1125.0
4   2017년      군도  101.000000    NaN   169.0
5   2017년    고속국도  302.526316   22.0   273.0
6   2017년      기타   21.000000    0.0    41.0
7   2018년    일반국도  249.000000   18.0   487.0
8   2018년     지방도  170.000000   11.0     NaN
9   2018년  특별광역시도  302.526316    4.0   710.0
10  2018년      시도  355.000000    2.0   698.0
11  2018년      군도   71.000000    1.0   115.0
12  2018년    고속국도  104.000000   16.0   211.0
13  2018년      기타   30.000000    1.0    76.0
14  2019년    일반국도  498.000000   29.0   964.0
15  2019년     지방도  300.000000   18.0   587.0
16  2019년  특별광역시도  825.000000    7.0  1594.0
17  2019년      시도  876.000000   17.0  1629.0
18  2019년      군도  116.000000    8.0   184.0
19  2019년    고속국도  147.000000   20.0   296.0
20  2019년      기타  125.000000    2.0   206.0

In [92]:
df = df.fillna({'사고(건)': df['사고(건)'].mean()})

In [96]:
df['사망(명)'].min()

0.0

In [97]:
df.fillna({'사망(명)': df['사망(명)'].min(),'부상(명)':df['부상(명)'].min() })

       구분    도로종류       사고(건)  사망(명)   부상(명)
0   2017년    일반국도  363.000000   19.0   698.0
1   2017년     지방도  230.000000   10.0   451.0
2   2017년  특별광역시도  590.000000   12.0    41.0
3   2017년      시도  577.000000   11.0  1125.0
4   2017년      군도  101.000000    0.0   169.0
5   2017년    고속국도  302.526316   22.0   273.0
6   2017년      기타   21.000000    0.0    41.0
7   2018년    일반국도  249.000000   18.0   487.0
8   2018년     지방도  170.000000   11.0    41.0
9   2018년  특별광역시도  302.526316    4.0   710.0
10  2018년      시도  355.000000    2.0   698.0
11  2018년      군도   71.000000    1.0   115.0
12  2018년    고속국도  104.000000   16.0   211.0
13  2018년      기타   30.000000    1.0    76.0
14  2019년    일반국도  498.000000   29.0   964.0
15  2019년     지방도  300.000000   18.0   587.0
16  2019년  특별광역시도  825.000000    7.0  1594.0
17  2019년      시도  876.000000   17.0  1629.0
18  2019년      군도  116.000000    8.0   184.0
19  2019년    고속국도  147.000000   20.0   296.0
20  2019년      기타  125.000000    2.0   206.0

In [90]:
df['부상(명)'].min()

41.0