In [1]:
import pandas as pd

In [2]:
import FinanceDataReader as fdr

In [3]:
df = fdr.DataReader('005930','2018','2021')
df

             Open   High    Low  Close    Volume    Change
Date
2018-01-02  51380  51400  50780  51020    169485  0.001177
2018-01-03  52540  52560  51420  51620    200270  0.011760
2018-01-04  52120  52180  50640  51080    233909 -0.010461
2018-01-05  51300  52120  51200  52120    189623  0.020360
2018-01-08  52400  52520  51500  52020    167673 -0.001919
...           ...    ...    ...    ...       ...       ...
2020-12-23  72400  74000  72300  73900  19411326  0.022130
2020-12-24  74100  78800  74000  77800  32502870  0.052774
2020-12-28  79000  80100  78200  78700  40085044  0.011568
2020-12-29  78800  78900  77300  78300  30339449 -0.005083
2020-12-30  77400  81300  77300  81000  29417421  0.034483

[738 rows x 6 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 738 entries, 2018-01-02 to 2020-12-30
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    738 non-null    int64
 1   High    738 non-null    int64
 2   Low     738 non-null    int64
 3   Close   738 non-null    int64
 4   Volume  738 non-null    int64
 5   Change  738 non-null    float64
dtypes: float64(1), int64(5)
memory usage: 40.4 KB

#### 상장 족목 목록 가져오기

In [5]:
krx = fdr.StockListing('KRX')
krx.to_csv('krx_data.csv',encoding='utf-8-sig',index=False)

In [6]:
df_krx = pd.read_csv('krx_data.csv')
df_krx.shape

(7045, 10)

In [7]:
df_krx[['Symbol','Name']]

      Symbol     Name
0     060310       3S
1     095570   AJ네트웍스
2     006840    AK홀딩스
3     054620   APS홀딩스
4     265520    AP시스템
...      ...      ...
7040  000547  흥국화재2우B
7041  000545    흥국화재우
7042  003280     흥아해운
7043  037440       희림
7044  238490       힘스

[7045 rows x 2 columns]

In [8]:
df_krx.loc[df_krx['Name']=="삼성전자우"]

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
3501,005935,KOSPI,삼성전자우,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_krx.loc[df_krx['Name']=="희림","Representative"].tolist()[0]

'정영균, 이목운, 허철호 (각자대표)'